<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/cp.css'}">
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/popup.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.1.js'}" type="text/javascript" charset="utf-8"></script>
		<script src="@{'/public/javascripts/jquery.easing.1.3.js'}" type="text/javascript" charset="utf-8"></script>
		<script src="@{'/public/javascripts/cp.js'}" type="text/javascript" charset="utf-8"></script>
		<script src="@{'/public/javascripts/popup.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
		<script type="text/javascript">
		        $(function() {
		                $("#username").placeholder();
		                $("#password").placeholder();
		        });
		
				$('.menuItem').hover( function(){
				     $(this).css('background-color', '#F00');
				},
				function(){
				     $(this).css('background-color', '#000');
				});
		</script>
		
    </head>
    <body>
		<!-- Control Panel -->
		<hr id="header_stripe"/>
		<div id="page_container">
			<div id="toppanel">
				<div id="panel">
					<div id="panel_contents"> 
						<table class="cpTable">
							<tr>
								<td>
									<div id="cpIconContainer">
										<a href="@{Home.index()}">
											<img class="cpIcon" src="/public/images/cp_icons/home.png" />
										</a>
										<p>&{'control.panel.home'}</p>
									</div>
								</td>
								<td>
									<div id="cpIconContainer">
										<a href="@{Trips.index()}">
											<img class="cpIcon" src="/public/images/cp_icons/trip.png" />
										</a>
										<p>&{'control.panel.trips'}</p>
									</div>
								</td>
								<td>
									<div id="cpIconContainer">
										<a href="@{Notifications.index()}">
											<img class="cpIcon" src="/public/images/cp_icons/notifications.png" />
										</a>
										<p>&{'control.panel.notifications'}</p>
									</div>
								</td>
								<td>
									<div id="cpIconContainer">
										<a href="@{Statistics.index()}">
											<img class="cpIcon" src="/public/images/cp_icons/stats.png" />
										</a>
										<p>&{'control.panel.stats'}</p>
									</div>
								</td>
								<td>
									<div id="cpIconContainer">
										<a href="@{Charts.index()}">
											<img class="cpIcon" src="/public/images/cp_icons/charts.png" />
										</a>
										<p>&{'control.panel.charts'}</p>
									</div>
								</td>
								<td>
									<div id="cpIconContainer">
										<a href="@{Vehicles.index()}">
											<img class="cpIcon" src="/public/images/cp_icons/vehicle.png" />
										</a>
										<p>&{'control.panel.vehicles'}</p>
									</div>
								</td>
								<td>
									<div id="cpIconContainer">
										<a href="@{Profile.index()}">
											<img class="cpIcon" src="/public/images/cp_icons/profile.png" />
										</a>
										<p>&{'control.panel.profile'}</p>
									</div>
								</td>
								<td>
									<div id="cpIconContainer">
										<a href="@{Secure.logout()}">
											<img class="cpIcon" src="/public/images/cp_icons/logout.png" />
										</a>
										<p>&{'control.panel.logout'}</p>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="panel_button" style="display: visible;"><a href="#">Control Panel</a> </div>
				<div class="panel_button" id="hide_button" style="display: none;"><a href="#">Control Panel</a> </div>
			</div>
		</div>
		<!-- End Control Panel -->
        #{doLayout /}
    </body>
</html>
