<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
        
        <style type="text/css">
        	.splashdiv
        	{
        		margin-left: auto;
        		margin-right: auto;
        		width: 930px;
        	}
        	
        
        	.splashdiv > .logindiv
        	{
        		position: absolute;
        		top: 0px;
        		left: 0px;
        	}
        	body
        	{
        		color: #ffffff;
        	}
        
        </style>
    </head>
    <body style="background-color:#000000;">
    	<div class="splashdiv">
    		<img src="@{'/public/images/splash.png'}"/>
    		<div class="logindiv">
    			<div><input type="text"/></div>
    			<div><input type="password"/></div>
    		</div>
    	</div>
    </body>
</html>