<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body style="background-color:#000000;">
       	<div style="width:930px; margin-left:auto; margin-right:auto;">
       		<img src="@{'/public/images/splash.png'}" />
       		
       		<div 
       		
       		<div style="margin-left:auto; margin-right:auto; clear:both">
       			<input type="text" style="font-size: 20px; font-size-adjust: none; width:400px; height:30px;" />
       		</div>
   			<div style="clear:both;">
   				<input type="password" style="font-size: 20px; width:400px; height:30px;"/>
   			</div>
   			
   		</div>    	
    </body>
</html>