html,
body {
	margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

.pageContainer {
	background: url('../images/main/header_background.png') no-repeat;
	width: 950px;
	height: 600px;
	margin: -40px auto 0 auto;
	padding: 25px 0 0 0;
	text-align: center;
}

.logoHeaderImage {
	background: url('../images/main/logo_header.png') no-repeat top center;
	margin: 0 auto 0 auto;
	width: 735px;
	height: 100px;
}

.leftRightMargin{
	margin:0 6px;
}

input.submit {
    padding:5px 10px 5px 10px;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #000;
	border: none;
    text-decoration:none;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(#B8B8B8), to(#777));
    background: -moz-linear-gradient(top, #B8B8B8, #777);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#B8B8B8", endColorstr="#777777");
    -webkit-border-radius:8px; 
    -khtml-border-radius:8px; 
    -moz-border-radius:8px;
    border-radius:8px;
    -webkit-box-shadow: 0 1px 2px #000;
    -moz-box-shadow: 0 1px 2px #000;
    box-shadow: 0 1px 2px #000;
    text-shadow: 1px 1px 1px #000;
    color: white;
}

input.submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#316494), to(#6099D2));
    background: -moz-linear-gradient(top, #316494, #6099D2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#316494", endColorstr="#6099D2"); 
    text-shadow: 1px 1px 1px #000;
    color: white;
}

input.submit:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#6099D2), to(#316494));
    background: -moz-linear-gradient(top, #6099D2, #316494);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6099D2", endColorstr="#316494"); 
    position:relative; 
    top:1px;
    text-shadow: 1px 1px 1px #000;
    color: white;
}