html,
body {
	margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

.pageContainer {
	background: url('../images/main/header_background.png') no-repeat;
	width: 950px;
	height: 600px;
	margin: -40px auto 0 auto;
	padding: 25px 0 0 0;
	text-align: center;
}

.logoHeaderImage {
	background: url('../images/main/logo_header.png') no-repeat top center;
	margin: 0 auto 0 auto;
	width: 735px;
	height: 178px;
}

.leftRightMargin{
	margin:0 6px;
}