#backgroundPopup {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/  
	height:100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	z-index: 100;
}
#popupContent {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/  
	height: auto;
	width: 75%;
	background: #191919;
	border: 2px solid #333;
	z-index: 101;
	padding: 12px;
	font-size: 13px;
}
#popupContent h1 {
	text-align: left;
	color: #B3B3B3;
	font-size: 22px;
	font-weight: 700;
	border-bottom: 1px dotted #D3D3D3;
	padding-bottom: 2px;
	margin-bottom: 20px;
}
#popupContentClose {
	font-size: 14px;
	line-height: 14px;
	right: 6px;
	top: 4px;
	position: absolute;
	color: #333;
	font-weight: 700;
	display: block;
}
