#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/home.css'}"/>
#{/set}
<!-- New User Popup -->
<div class="popupContent" id="popupContentNewUser">  
	<a class="popupContentClose" id="popupContentCloseNewUser">X</a>
	<h1>&{'home.welcome.popup.title'}</h1>
	<p class="popUpText">&{'home.welcome.popup.text'}</p>
	<p class="popUpText"><br></p>
	<input type="submit" class="submit" id="updateProfileSure" value="&{'home.welcome.popup.sure'}" />
	<input type="submit" class="submit" id="updateProfileNah" value="&{'home.welcome.popup.nah'}" />
</div>  
<div class="backgroundPopup" id="backgroundPopupNewUser"></div>
<script type="text/javascript">
	$.post("/profile/newprofile", {}, 
	function(data) {
		if (data.status == "new") {
			centerPopup("#popupContentNewUser", "#backgroundPopupNewUser");
			loadPopup("#popupContentNewUser", "#backgroundPopupNewUser");
		}
	}, "json");

	$("#updateProfileNah").click(function() {
		disablePopup("#popupContentNewUser", "#backgroundPopupNewUser");
	});

	$("#updateProfileSure").click(function() {
		window.location.replace("/profile");
	});

	$("#popupContentCloseNewUser").click(function() {
		disablePopup("#popupContentNewUser", "#backgroundPopupNewUser");
	});

	$("#backgroundPopupNewUser").click(function() {
		disablePopup("#popupContentNewUser", "#backgroundPopupNewUser");
	});

	$(document).keypress(function(e) {
		if (e.keyCode == 27 && popupStatus == 1) {
			disablePopup();
		}
	});
</script>

<!-- Application Index Body -->
<div class="pageContainer">
	<div class="logoHeaderImage">
	</div>
	
	<div class="homeMainContent center">

		<!--<div id="profileSection" class="profileSection roundedBorder">
			<h1 class="subsectionHeader" onclick="location.href='@{Profile.index()}';">Profile</h1>
			<p class="profileText">&{'profile.account.email.address'}</p>
			<img id="profileAvatar" src="@{Profile.getAvatar(128)}">
		</div> -->
		<div id="vehiclesSection" class="vehiclesSection roundedBorder">
			<h1 class="subsectionHeader">Vehicles</h1>
			#{list items:vehicles, as:'currentVehicle'}
			<div class="vehicleListHeader" onclick="location.href='@{Vehicles.index()}';">
				<div class="vehicleHeaderAlias" id="vehicleHeaderAlias${currentVehicle.getVehicle().getVIN()}">${currentVehicle.getAlias()}</div>
				<div class="vehicleHeaderVIN">VIN: ${currentVehicle.getVehicle().getVIN()}</div>
			</div>
			#{/list}
		</div>
		<div id="tripsSection" class="tripsSection roundedBorder">
			<h1 class="subsectionHeader">Trips (Most Recent)</h1>
			#{list items:userTrips, as:'trip'}
			<div class="tripName" onclick="location.href='@{Trips.index()}';">${trip.tripAlias}</div>
			#{/list}
		</div>
		<!--<div id="chartsSection" class="chartsSection roundedBorder">
			<h1 class="subsectionHeader" onclick="location.href='@{Charts.index()}';">Charts</h1>
		</div>-->
		<!--<div id="statsSection" class="statsSection roundedBorder" onclick="location.href='@{Statistics.index()}';">
			<h1 class="subsectionHeader">Statistics</h1>
		</div>
		-->
	</div>
	
</div>